
header{
    background-color: rgb(52, 132, 189);
    padding: 30px 4% 10px;
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.logo{
    height: 80px;
}

.nav{
    display: flex;
    font-family: 'Courier New', Courier, monospace;
}

.nav > li > a{
    color: orange;
    font-size: 25px;
    margin-left: 20px;
    text-decoration: none;
}

.slider {
    width: 300px;
  　　height: 200px;
  　　overflow: hidden;
  　　margin: 0 auto;
  
  }
  .slider-item {
    width: 300px;
    float: left;
  }
  img{
    width:100%;
  }
  .slider-inner {
    width: 300%;
    animation: slider 10s infinite ease;
  }
  
  @keyframes slider {
      0% {
      transform: translateX(0);
      }
      33% {
      transform: translateX(-300px);
      }
      66% {
      transform: translateX(-600px);
      }
      100% {
      transform: translateX(0);
      }
  }

  .viscuit{
      
  }





  footer{
    background-color: rgb(52, 132, 189);
    font-size: 130%;
    color: white;
    padding: 20px 0;
    margin-top: 100px;
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
  }